@model Student
@{
    Layout = "~/views/shared/_Layout2.cshtml";
    ViewBag.Title = "Edit";
}

    <form method="post">
        <br />
        <lable class="form-label">Student ID  </lable><input type="text" disabled class="input-group-lg" value="@Model.Id" />
        <lable class="form-label">Student Name  </lable><input type="text" name="Name" class="input-group-lg" value="@Model.Name" /><br />
        <lable class="form-label">Student Age  </lable><input type="text" name="Age" class="input-group-lg" value="@Model.Age" /><br />
        <lable class="form-label">password  </lable><input type="text" name="Password" class="input-group-lg" value="@Model.Password" /><br />
        <lable class="form-label">Email </lable><input type="text" name="Email" class="input-group-lg" value="@Model.Email" /><br />
        <lable class="form-label">Department </lable>
        <select name="DeptNum">
            @foreach (var item in ViewBag.departments)
            {
                <option value="@item.DeptId">@item.DeptName</option>
            }
        </select>
        <br />
        <input type="submit" value="Edit" class="btn btn-danger" />
    </form>

